@font-face {
  font-family: 'BemboStd';
  src: local('BemboStd'), url('./assets/fonts/BemboStd.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'BemboStd', sans-serif;
}
